// main: main.scss

@font-face {
    font-family: 'Jura-Regular';
    src: url('../fonts/Jura/Jura-Regular.ttf');
}

@font-face {
  font-family: 'Mada-Regular';
  src: url('../fonts/Mada/Mada-Regular.ttf');
}
