// main : main.scss


.Principe {
  ul {
    display: flex;
    padding: 0;
    flex-direction: column;
    margin-left: 22vw;
    list-style: none;
    li {
      flex-basis: 50%;
      margin-top: 10vh;
      position: relative;
      .fas {
       font-size: 10em;
       margin: auto;
       width: 100%;
     }
     .overlay {
       position: absolute;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       height: 100%;
       transform: translateX(-20%);
       border-radius: 40px;
       width: 100%;
       opacity: 0;
       transition: .5s ease;
       background-color: #008CBA;
     }
    }

    li:hover .overlay {
      opacity: 1;
    }
  }
}
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
      h3 {
        font-size: 1em;
      }
      p {
    font-size: 0.7em;
  }
}


@media all and (max-width: 800px) {
  .Principe {
    ul {
      li {
        .fas {}
       .overlay {
         height: 23vh;
         width: 50vw;
       }
      }
    }
  }
}
