body{
  margin: 0;
  padding: 0;
  padding: 0 20vw;
  font-size: 1.265vw;
}


h1 {
  font-family: 'Jura-Regular';
  text-align: center;
  font-size: 2.65em;
}

h2 {
  font-family: 'Jura-Regular';
  text-align: center;
  font-size: 2em;
}

h3 {
  font-family: 'Jura-Regular';
  text-align: center;
  font-size: 1.4em;
}

p {
  font-family: 'Mada-Regular';
  font-size: 1em;
}


@media all and (max-width: 900px){
  body {
    font-size: 14px;
  }
}

@import './fonts';
@import './footer';
@import './slider';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
