body{
  margin: 0;
  padding: 0;
  padding: 0 20vw;
  font-size: 1.265vw;
  padding: 0 20vw;
}


h1 {
  font-family: 'Jura-Regular';
  text-align: center;
  font-size: 2.65em;
}

h2 {
  font-family: 'Jura-Regular';
  text-align: center;
  font-size: 2em;
}

h3 {
  font-family: 'Jura-Regular';
  text-align: center;
  font-size: 1.4em;
}

p {
  font-family: 'Mada-Regular';
  font-size: 1em;
}


@media all and (max-width:1200px) {
  body {
    font-size: 14px;
    padding: 0 12vw;
  }

}


@import './fonts';
@import './pratique';
@import './footer';
@import './slider';
@import './header';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "./whatKanban";
